[Unit]
Description=Apache Fuseki Server - B1ms Standard
After=network.target

[Service]
Type=simple
User=fuseki
Environment=FUSEKI_BASE=/data/fuseki/databases
Environment=FUSEKI_HOME=/opt/fuseki
Environment=JAVA_OPTS=-Xms512m -Xmx1g
ExecStart=/opt/fuseki/fuseki-server --config=/opt/fuseki/configuration/config.ttl --port=3030
Restart=on-failure

[Install]
WantedBy=multi-user.target
